
.container_navBar {
    color: #fff;
    background-color: #007bfe;
    margin : 0;
    padding : 0;
}

.item_navBar {
    display : flex;
    justify-content : start;
    list-style-type: none;
    padding: 12px;
    font-size: 21px;
    margin-top: 0;
}

