footer {
  background-color: #77d5f1;
}

.item_footer {
  display: flex;
  justify-content: space-evenly;
}

.contactInfos > p:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width : 27vh;
}

.contactIcons {
  display: flex;
  align-items: center;
}

.copyright {
  text-align: center;
  padding-bottom: 12px;
}
