
.item_staffDetails {
    display : grid;
    grid-template-columns: repeat(12,1fr);
}

.item_staffDetails img {
    grid-column: 1/3;
}

@media screen and (max-width: 1086px ) {
    .item_staffDetails img {
        grid-column: 1/4;
    }
}

@media screen and (max-width: 768px) {
    .item_staffDetails img {
        grid-column: 1/-1;
    }
}