.container_staffList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
  grid-gap: 5px;
  margin: 1.5rem;
}

.item_staffList {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.item_staffList p {
  word-wrap: break-word;
}

.item_staffList img{
  width: 100%;
}

.item_staffList a {
  padding : 0;
}

.functions {
  display: flex;
  justify-content: space-around;
}